[submodule "mod"]
	path = mod
	url = git@github.com:SunDevilRocketry/mod.git
[submodule "lib"]
	path = lib
	url = git@github.com:SunDevilRocketry/lib.git
[submodule "test"]
	path = test
	url = https://github.com/SunDevilRocketry/test.git
