# Build Directories
app/blink/build/*
app/terminal/rev1/build/*
app/terminal/rev2/build/*
app/flight/data-logger/rev1/build/*
app/flight/data-logger/rev2/build/*
app/flight/dual-deploy/build/*

# VScode artifacts
.vscode/*
Unity
lib
mod