[submodule "mod"]
	path = mod
	url = https://github.com/SunDevilRocketry/mod.git
[submodule "lib"]
	path = lib
	url = https://github.com/SunDevilRocketry/lib.git
[submodule "emulator"]
	path = emulator
	url = https://github.com/SunDevilRocketry/sdr-emulator.git
[submodule "driver"]
	path = driver
	url = https://github.com/SunDevilRocketry/driver.git
[submodule "test/framework"]
	path = test/framework
	url = https://github.com/SunDevilRocketry/sdrtf.git
