[submodule "mod"]
	path = mod
	url = https://github.com/SunDevilRocketry/mod.git
[submodule "lib"]
	path = lib
	url = https://github.com/SunDevilRocketry/lib.git
[submodule "test"]
	path = test
	url = https://github.com/SunDevilRocketry/test.git
[submodule "driver"]
	path = driver
	url = https://github.com/SunDevilRocketry/driver.git
